<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" property="og:description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="keywords" content="{{ page.keywords }}">

    <!-- Open Graph card -->
    <meta property="og:title" content="NaN Labs" />
    <meta property="og:type" content="company" />
    <meta property="og:site_name" content="NaN Labs" />
    <meta property="og:url" content="http://nan-labs.com" />
    <meta property="og:image" content="http://nan-labs.com{{ ASSET_PATH }}/img/logo.png" />

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@nanlabs" />
    <meta name="twitter:title" content="NaN Labs" />
    <meta name="twitter:image" content="http://nan-labs.com{{ ASSET_PATH }}/img/logo.png" />
    <meta name="twitter:description" content="We're a group of developers highly trained and experienced in the IT industry. We're really demanding on the quality and we aim for excellence." />

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The application runs in full-screen mode in Safari -->
    <meta content='yes' name='apple-mobile-web-app-capable' />
    <meta content='black' name='apple-mobile-web-app-status-bar-style' />

    <link rel="apple-touch-icon" href="{{ ASSET_PATH }}/img/apple-touch-icon-iphone.png" /> 
    <link rel="apple-touch-icon" sizes="72x72" href="{{ ASSET_PATH }}/img/apple-touch-icon-ipad.png" /> 
    <link rel="apple-touch-icon" sizes="114x114" href="{{ ASSET_PATH }}/img/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ ASSET_PATH }}/img/apple-touch-icon-ipad3.png" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <!-- NaN Labs official site css -->
    <link rel="stylesheet" type="text/css" href="/assets/themes/nanlabs/css/dist.css">

    <!-- Plugin Code -->
    <script type="text/javascript" src="nan-timepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="nan-timepicker.css" />

    <!-- Docs styles -->
    <link href="{{ site.baseurl }}/assets/css/docs.css" rel="stylesheet">
    <style type="text/css">
        .highlighted {
          color: blue !important;
        }
        .highlighted2 {
          color: red !important;
        }
    </style>

  </head>

  <body>

    {% if page.github-url %}
    <a href="{{ page.github-url }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    {% endif %}

    <div class="container-fluid">

      <header class="row-fluid header-page clearfix"> 
          <a href="/index.html" title="Home"> 
              <div class="span4 logo pagination-centered">
                  <img src="/assets/themes/nanlabs/img/logo-195x120.png" alt="NaN Labs Logo">
              </div>
          </a>
          <div class="span8 box hidden-phone">
              <h1 class="span11">well-crafted software</h1>
          </div>
      </header>
      
      <section class="container-fluid">
          <h1>{{ page.header }}</h1>
          <p class="lead">{{ page.lead-text }}</p>

          {{ content }}
      </section>

    </div>

    
    {% include JB/analytics %}
  </body>
</html>
